.main-wrapper {
    margin: 0px 20px;
}

.instructions {
    display: flex;
    gap: 10px;
}

.recipe {
    display: flex;
    gap: 20px;
}

.new-recipe-form {
    display: flex;
    flex-direction: column;
}