* {
  font-family: Raleway;
}

.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
  background: rgba(251, 61, 2, .8);
  height: 30px;
}